/* Css específico del efecto */ 
div.contiene_tabla { 
height: 150px; 
overflow: auto; 
overflow-y: scroll; 
overflow-x: hidden; 
width: 700px; 
border-bottom: solid 0px #000; 
border-right: solid 0px #000; 
} 
 

/* Fix para listas */ 
div.contiene_tabla ul li, div.contiene_tabla2 ul li{ 
list-style-type: square; 
list-style-position: inside; 
}

div.contiene_tabla tr:nth-child(even) { 
    background: #C8FFEC ;
    color: blue;    
    font-size: 13px;
}
div.contiene_tabla tr:nth-child(odd) { 
    background: #12E26F;
    color: blue; 
    font-size: 13px;
}