/* Css específico del efecto */ 
div.contiene_tabla, div.contiene_tabla2 { 
height: 250px; 
overflow: auto; 
overflow-y: scroll; 
overflow-x: hidden; 
width: 760px; 
border-bottom: solid 0px #000; 
border-right: solid 0px #000; 
} 
 
/* table { 
background-color: #EFEFEF; 
color: black; 
table-layout: fixed; 
width: 700px; 
} */
 
titulos { 
width: 700px; 
background-color: #1E55A1;
font-size: 12;
} 
 
/* th, td { 
border: 0px solid black; 
padding: 4px; 
white-space: pre; 
white-space: pre-wrap; 
white-space: pre-line; 
white-space: -pre-wrap;
white-space: -o-pre-wrap; 
white-space: -moz-pre-wrap;  
white-space: -hp-pre-wrap; 
word-wrap: break-word; 
} */

tr.headers { 
background-color: #1E55A1; 
} 
 
/* extendemosel ancho para .contiene_tabla2 
para colocar el scroll por fuera */ 
div.contiene_tabla2 { 
width: 715px; 
} 
 
/* Fix para listas */ 
div.contiene_tabla ul li, div.contiene_tabla2 ul li{ 
list-style-type: square; 
list-style-position: inside; 
}

div.contiene_tabla tr:nth-child(even) { 
    background: #C8FFEC ;
    color: blue;    
    font-size: 13px;
}
div.contiene_tabla tr:nth-child(odd) { 
    background: #12E26F;
    color: blue; 
    font-size: 13px;
}