:root {
  --main-bg-color-danger: #FF4324 !important;
  --main-bg-color-warning: #FF8D3D !important;
  --main-bg-color-grey: #1A2B3C !important;
  --main-bg-color-dark: #020407 !important;
  --main-bg-color-white: #F0F2F2 !important;
  --main-bg-color-secondary: #224561 !important;
  --main-text-color-danger: #FF4324 !important;
  --main-text-color-warning: #FF8D3D !important;
  --main-text-color-grey: #1A2B3C !important;
  --main-text-color-dark: #020407 !important;
  --main-text-color-white: #F0F2F2 !important;
  --main-text-color-secondary: #224561 !important;
}
body {
  background-color: var(--main-bg-color-secondary);
  /*background-color: #E5E9EB !important;*/
  /*background-color: #F0F2F2 !important;*/
}

.text-color-danger {
  color: var(--main-text-color-danger);
}
.text-color-warning {
  color: var(--main-text-color-warning);
}
.text-color-grey {
  color: var(--main-text-color-grey);
}
.text-color-dark {
  color: var(--main-text-color-dark);
}
.text-color-white {
  color: var(--main-text-color-white);
}
.text-color-secondary {
  color: var(--main-text-color-secondary);
}

/*.baskervville-sc-regular,
* {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}*/

.navbar-after-scroll {
  background-color: var(--main-bg-color-grey);
}

/* * Color of the links BEFORE scroll */
.navbar-before-scroll .nav-link,
.navbar-before-scroll .navbar-toggler-icon {
  /*color: #fff;*/
}

/* * Color of the links AFTER scroll */
.navbar-after-scroll .nav-link,
.navbar-after-scroll .navbar-toggler-icon {
  /*color: #4f4f4f;*/
}

/* * Color of the navbar AFTER scroll */
.navbar-after-scroll {
  /*background-color: #fff;*/
}

/* * Transition after scrolling */
.navbar-after-scroll {
  /*transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;*/
}

/* * Transition to the initial state */
.navbar-before-scroll {
  /*transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;*/
}

/* * An optional height of the navbar AFTER scroll */
.navbar.navbar-before-scroll.navbar-after-scroll {
  padding-top: 5px;
  padding-bottom: 5px;
}

.navbar ul li a:hover {
  text-decoration: underline;
}

.navbar ul li a i {
  visibility: hidden;
}

.navbar ul li a:hover {
  font-weight: bold;
  color: var(--main-text-color-warning);
}

.navbar ul li a:hover i {
  visibility: visible;
  font-weight: bold;
  color: red !important;
}

/* * Navbar on mobile */
/*@media (max-width: 991.98px) {
  #main-navbar {
    background-color: #fff;
  }

  .nav-link,
  .navbar-toggler-icon {
    color: #4f4f4f !important;
  }
}
@media (min-width: 992px) {
  .rotate-lg {
    transform: rotate(6deg);
  }
}*/